

body {
  background-color: paleturquoise;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}

.container-flex {
  padding-left: 15px;
}

@media (max-width: 600px) {

  .lead {
    font-size: 18px;
  }

  h1 {
    font-size: 28px;

  }

  img {
    padding-bottom: 10px;
  }


}










